<footer>
    <div class="f-info">
    <div class="f-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
    <div>&copy;POST AND RENT</div>
    <div class="f-info-links">
        <a href="">PRIVACY</a>
        <a href="">TERMS</a>
    </div>
    </div>
</footer>