<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"><i class="fa-solid fa-skull-crossbones"></i></a> -->
     <img src="https://tse4.mm.bing.net/th?id=OIP.LiuD6JxIaC51CR5FUI261gAAAA&pid=Api&P=0&h=180" alt="Logo" class="navbar-brand" style="width: 80px; height: 80px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link "  href="/">Home</a> -->
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link" href="/listings/new">Add New Listings</a>
         <a class="nav-link" href="/login">Log In</a>
          <a class="nav-link" href="/register">Register</a>
      
    </div>
  </div>
</nav>